/*----------------------------------about-procedure--------------------------------*/
.about-procedure__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .about-procedure__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}
.about-procedure__block {
  border-radius: var(--border-radius-small);
  border: 1px solid #96CFD0;
  padding: 30px;
  overflow: hidden;
  position: relative;
  font-size: clamp(14px, 1.1538461538vw, 15px);
}
.about-procedure__block h3 {
  font-size: 24px;
  line-height: 133%;
  color: #00A7AA;
  margin-bottom: 8px;
}
.about-procedure__block p {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 120%;
  margin-bottom: 12px;
}
.about-procedure__block:first-child {
  background: linear-gradient(132deg, #0ca5b3 0%, #a7e7e2 100%);
  display: flex;
  justify-content: space-between;
  gap: 10px;
  grid-column: 1/3;
  color: var(--color-white);
}
.about-procedure__block:first-child h3 {
  color: var(--color-white);
}
.about-procedure__block:first-child img {
  margin-right: -30px;
}
@media (max-width: 992px) {
  .about-procedure__block:first-child {
    grid-column: 1/4;
  }
}
@media (max-width: 768px) {
  .about-procedure__block:first-child {
    flex-wrap: wrap;
    justify-content: end;
  }
  .about-procedure__block:first-child img {
    width: 200px;
    margin-top: -50px;
  }
}
.about-procedure__block--mod1 img {
  margin-bottom: -30px;
}
.about-procedure__block:nth-child(5), .about-procedure__block--mod2 {
  background: linear-gradient(132deg, #0ca5b3 0%, #a7e7e2 100%);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
  padding: 30px 10px 0px 30px;
  width: 100%;
}
.about-procedure__block:nth-child(5) h3, .about-procedure__block--mod2 h3 {
  color: var(--color-white);
  font-size: clamp(18px, 1.5384615385vw, 20px);
  margin-bottom: 12px;
}
.about-procedure__block:nth-child(5) p, .about-procedure__block--mod2 p {
  margin-bottom: 40px;
  max-width: 250px;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .about-procedure__block:nth-child(5) p, .about-procedure__block--mod2 p {
    max-width: 100%;
  }
}
.about-procedure__block:nth-child(5) .button, .about-procedure__block--mod2 .button {
  display: inline;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .about-procedure__block:nth-child(5) .button, .about-procedure__block--mod2 .button {
    display: block;
  }
}
.about-procedure__block:nth-child(5) img, .about-procedure__block--mod2 img {
  margin-top: -150px;
  margin-right: -100px;
  padding-left: 40px;
}
@media (max-width: 992px) {
  .about-procedure__block:nth-child(5), .about-procedure__block--mod2 {
    grid-column: 1/4;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
  }
  .about-procedure__block:nth-child(5) img, .about-procedure__block--mod2 img {
    margin-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 200px;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .about-procedure__block:nth-child(5), .about-procedure__block--mod2 {
    padding: 20px;
    flex-direction: column;
  }
  .about-procedure__block:nth-child(5) img, .about-procedure__block--mod2 img {
    margin-bottom: -20px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .about-procedure__block {
    border-radius: 24px;
    padding: 20px;
  }
}

/*----------------------------------about-procedure--------------------------------*/