/*----------------------------------blockquote--------------------------------*/
.blockquote {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.blockquote figure {
  border-radius: var(--border-radius);
  background-color: #EFFAFB;
  padding: 32px 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px 60px;
  position: relative;
}
@media (max-width: 768px) {
  .blockquote figure {
    padding: 20px;
    border-radius: 24px;
  }
}
.blockquote blockquote > img {
  width: 35px;
  height: 27px;
  position: absolute;
  border-radius: 0;
}
@media (max-width: 768px) {
  .blockquote blockquote > img {
    position: static;
    margin-bottom: 10px;
  }
}
.blockquote blockquote p {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 140%;
  padding-left: 64px;
  margin-bottom: 24px;
  padding-right: 300px;
}
@media (max-width: 768px) {
  .blockquote blockquote p {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.blockquote blockquote footer {
  padding-left: 64px;
}
.blockquote blockquote footer cite {
  display: block;
  color: var(--color-primary);
  font-size: clamp(12px, 1.0416666667vw, 15px);
}
.blockquote blockquote footer span {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 133%;
}
.blockquote blockquote footer img {
  border-radius: 50%;
  position: absolute;
  right: 64px;
  top: 24px;
}
@media (max-width: 768px) {
  .blockquote blockquote footer img {
    width: 120px;
    height: 120px;
    position: static;
  }
}
@media (max-width: 768px) {
  .blockquote blockquote footer {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
}

/*----------------------------------blockquote--------------------------------*/