/*----------------------------------calendar--------------------------------*/
.calendar {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .calendar {
    margin-bottom: 20px;
  }
}
.calendar__wrapper {
  padding: 20px;
  border-radius: var(--border-radius-small);
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .calendar__wrapper {
    padding: 15px;
    border-radius: 24px;
  }
}
.calendar__top {
  display: flex;
  align-items: center;
  gap: 10px 44px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.calendar__specialization {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.calendar__specialization p {
  font-weight: 700;
}
@media (max-width: 768px) {
  .calendar__specialization {
    flex-wrap: wrap;
  }
}
.calendar__body {
  margin-bottom: 24px;
}
.calendar__body h3 {
  font-weight: 700;
  line-height: 141%;
  font-size: clamp(14px, 1.2307692308vw, 16px);
  margin-bottom: 15px;
}
.calendar__day {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  width: 80px;
  border-radius: 16px;
  padding: 7px 0px;
  cursor: pointer;
  transition: all 0.3s;
}
.calendar__day--mod p {
  color: #EC5906;
}
@media (hover: hover) {
  .calendar__day:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.3s;
  }
}
.calendar__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .calendar__bottom {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .calendar__button {
    width: 100%;
  }
}
.calendar__times {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  flex-wrap: wrap;
}
.calendar__hour {
  color: #96CFD0;
  border: 1px solid #96CFD0;
  border-radius: 16px;
  padding: 11px 0px;
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
@media (hover: hover) {
  .calendar__hour:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all 0.3s;
  }
}

/*----------------------------------calendar--------------------------------*/