/*---------------------------------classification--------------------------------*/
.classification__body {
  font-weight: 500;
  font-family: var(--font-family-m);
  line-height: 140%;
}
.classification__body p {
  margin-bottom: 16px;
}

/*---------------------------------classification--------------------------------*/