/*---------------------------------classification--------------------------------*/
.classification__body {
  font-weight: 500;
  font-family: var(--font-family-m);
  line-height: 140%;
}
.classification__body p {
  margin-bottom: 16px;
}
.classification__body ul {
  flex-basis: 30%;
}
.classification__body ul li {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 140%;
  position: relative;
  padding-left: 30px;
}
.classification__body ul li:not(:last-child) {
  margin-bottom: 8px;
}
.classification__body ul li::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background-color: #63D7DF;
}

/*---------------------------------classification--------------------------------*/