/*----------------------------------comparison-------------------------------*/
.comparison__body {
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 60px;
}
.comparison__body::-webkit-scrollbar {
  display: none;
}
.comparison__blocks {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 0px 20px;
}
.comparison__blocks > * {
  flex: 0 0 auto;
}
.comparison__blocks:first-child .comparison__block {
  font-size: clamp(16px, 1.5384615385vw, 20px);
}
.comparison__blocks:first-child .comparison__block:first-child {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.comparison__blocks:first-child .comparison__block:first-child p {
  max-width: 100%;
  text-align: start;
  font-size: clamp(12px, 1.3076923077vw, 17px);
}
.comparison__blocks:first-child .comparison__block:nth-child(2) {
  display: flex;
  align-items: center;
  color: var(--color-primary);
}
.comparison__blocks:first-child .comparison__block:nth-child(3) {
  color: var(--color-secondary);
  display: flex;
  align-items: center;
}
.comparison__blocks:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .comparison__blocks {
    gap: 0px 10px;
  }
}
.comparison__block {
  flex-basis: 470px;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--color-primary);
  padding: 20px;
  font-weight: 600;
  font-size: clamp(14px, 1.1538461538vw, 15px);
  line-height: 133%;
}
.comparison__block:first-child {
  flex-basis: 320px;
  text-align: center;
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.comparison__block:first-child img {
  width: 56px;
  height: 56px;
  margin-bottom: 0px;
}
.comparison__block:first-child p {
  font-weight: 600;
  font-size: clamp(12px, 1.5384615385vw, 20px);
  line-height: 140%;
  text-align: center;
}
@media (max-width: 992px) {
  .comparison__block:first-child {
    flex-basis: 200px;
  }
}
@media (max-width: 768px) {
  .comparison__block:first-child {
    flex-basis: 170px;
  }
}
.comparison__block img {
  margin-bottom: 14px;
}
@media (max-width: 992px) {
  .comparison__block {
    border-radius: 24px;
  }
}
@media (max-width: 768px) {
  .comparison__block {
    flex-basis: 200px;
    padding: 16px;
  }
}

/*----------------------------------comparison-------------------------------*/