/*----------------------------------promotions-------------------------------*/
.discount {
  position: relative;
  background: linear-gradient(138deg, #79c4db 32.21%, #56a7c9 100%);
  padding: 44px 20px;
  border-radius: var(--border-radius-small);
  overflow: hidden;
}
.discount > img {
  position: absolute;
  top: 20px;
  right: -30px;
}
.discount__body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
}
@media (max-width: 768px) {
  .discount__body {
    justify-content: start;
  }
}
.discount__info {
  flex-basis: 550px;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  z-index: 2;
}
.discount__info span {
  font-size: clamp(50px, 7.6923076923vw, 100px);
}
@media (max-width: 768px) {
  .discount__info {
    flex-wrap: wrap;
    flex-basis: 250px;
  }
}
.discount__image {
  margin: -44px 0px;
}
@media (max-width: 768px) {
  .discount__image {
    position: absolute;
    right: -100px;
    filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}
.discount .arrow__pulse {
  border: 3px solid var(--color-white);
  position: absolute;
  top: 65%;
  right: 20px;
  z-index: 2;
}
.discount .arrow__pulse::after {
  border: 1px solid var(--color-white);
}
@media (max-width: 992px) {
  .discount .arrow__pulse::after {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .discount .arrow__pulse {
    top: 15%;
  }
}
@media (hover: hover) {
  .discount:hover .arrow__pulse {
    opacity: 1;
  }
  .discount:hover .arrow__pulse::after {
    animation: pulse 2s ease-in-out infinite;
  }
}

/*----------------------------------promotions-------------------------------*/