/*----------------------------------list--------------------------------*/
ul li {
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 140%;
  position: relative;
  padding-left: 30px;
}
ul li::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 40%;
  left: 10px;
  border-radius: 50%;
  background-color: #63D7DF;
}

/*----------------------------------list--------------------------------*/