/*----------------------------------news--------------------------------*/
.news__content {
  position: relative;
}
.news__content .filtermenu {
  margin-bottom: 30px;
}
.news__content .filtermenu__list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 10px;
}
.news__content .filtermenu__list li {
  padding: 10px;
  border: 2px solid inherit;
}
.news__content .filtermenu__list li::after {
  display: none;
}
.news__content .filtermenu__list li.active_ {
  background-color: var(--color-white);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 600;
}
.news__content .filtermenu__list--mod {
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 8px 15px;
  margin-left: 0px;
}
@media (max-width: 768px) {
  .news__content .filtermenu__list {
    margin-right: 30px;
  }
}
.news__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
@media (max-width: 992px) {
  .news__body {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .news__body {
    margin-bottom: 16px;
  }
}
.news__item {
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  display: flex;
  align-items: stretch;
  position: relative;
}
.news__item_photo {
  flex-basis: 345px;
}
.news__item_photo img {
  border-top-left-radius: var(--border-radius-small);
  border-bottom-left-radius: var(--border-radius-small);
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .news__item_photo {
    flex-basis: 100%;
    position: relative;
  }
}
.news__item_info {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 700px;
}
@media (max-width: 992px) {
  .news__item_info {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .news__item_info {
    padding: 12px 16px 24px 16px;
  }
}
.news__item_top h3 {
  margin-bottom: 8px;
  line-height: 141%;
}
.news__item_top p {
  font-weight: 600;
  line-height: 141%;
  font-family: var(--font-family-m);
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .news__item_top p {
    display: none;
  }
}
.news__item_bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.news__item_bottom time {
  color: var(--color-primary);
  font-family: var(--font-family-m);
  font-weight: 600;
  font-size: clamp(12px, 1.1538461538vw, 15px);
  line-height: 133%;
}
@media (max-width: 992px) {
  .news__item_bottom {
    justify-content: start;
  }
}
.news__item:first-child {
  grid-column: 1/3;
  grid-row: 1/2;
}
@media (max-width: 768px) {
  .news__item:first-child img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
  }
}
.news__item:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
}
@media (max-width: 768px) {
  .news__item:nth-child(2) img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
  }
}
.news__item--mod {
  grid-column: 3/4;
  grid-row: 1/3;
  flex-wrap: wrap;
}
.news__item--mod .news__item_photo {
  flex-basis: 100%;
}
.news__item--mod .news__item_photo img {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 0px;
}
.news__item--mod .news__item_top p {
  margin-bottom: 80px;
}
.news__item--mod .news__btn {
  right: 66%;
}
@media (max-width: 992px) {
  .news__item--mod .news__btn {
    right: 10px;
  }
}
@media (max-width: 992px) {
  .news__item--mod {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}
@media (max-width: 768px) {
  .news__item--mod {
    order: -1;
  }
  .news__item--mod .news__btn {
    bottom: 10px;
    right: 10px;
    max-width: 117px;
  }
}
@media (max-width: 768px) {
  .news__item {
    flex-wrap: wrap;
    border-radius: 24px;
    flex-basis: 100%;
  }
}
.news__button {
  position: absolute;
  top: 10px;
  right: 16px;
}
.news__btn {
  position: absolute;
  bottom: 20px;
  right: 51%;
}
@media (max-width: 992px) {
  .news__btn {
    bottom: 10px;
    right: 10px;
    max-width: 117px;
  }
}
.news__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px 24px;
}
@media (max-width: 992px) {
  .news__blocks {
    display: flex;
    flex-wrap: wrap;
  }
}
.news__blocks .news__item {
  flex-wrap: wrap;
  grid-row: 2/3;
}
@media (max-width: 992px) {
  .news__blocks .news__item {
    width: 48%;
  }
}
.news__blocks .news__item .news__item_photo {
  flex-basis: 100%;
}
.news__blocks .news__item .news__item_photo img {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 0px;
}
.news__blocks .news__item .news__item_top p {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .news__blocks .news__item .news__item_top p {
    display: block;
  }
}
.news__blocks .news__item .news__item_bottom {
  justify-content: space-between;
}
.news__blocks .news__item .button {
  max-width: 117px;
}
.news__blocks .news__item:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.news__blocks .news__item:nth-child(3) {
  grid-column: 1/2;
}
.news__blocks .news__item:nth-child(4) {
  grid-column: 2/3;
}
.news__blocks .news__item:nth-child(5) {
  grid-column: 3/4;
}
.news__block {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/2;
}
.news__block img {
  border-radius: var(--border-radius-small);
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .news__block img {
    border-radius: 20px;
    height: auto;
  }
}
.news__block_info {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  border-radius: var(--border-radius-small);
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  max-width: 400px;
}
.news__block_info time {
  color: var(--color-primary);
  font-family: var(--font-family-m);
  font-weight: 600;
  font-size: clamp(12px, 1.1538461538vw, 15px);
  line-height: 133%;
  margin-bottom: 16px;
  display: block;
}
.news__block_info h3 {
  margin-bottom: 8px;
}
.news__block_info p {
  font-weight: 600;
  line-height: 141%;
  font-family: var(--font-family-m);
  margin-bottom: 40px;
}
.news__block_info .button {
  max-width: 117px;
}
.news__block_info .button svg {
  padding-top: 2px;
}
@media (max-width: 768px) {
  .news__block_info {
    position: static;
  }
}
@media (max-width: 768px) {
  .news__block {
    background-color: var(--color-white);
    border-radius: 20px;
    flex-wrap: wrap;
  }
}

/*----------------------------------news--------------------------------*/