/*----------------------------------preparation--------------------------------*/
.preparation {
  background: linear-gradient(133deg, #0ca6b4 0.73%, #3fb8b6 60.89%, #a1e5e0 100%);
  border-radius: 60px 160px 40px 60px;
  padding: 40px 12px 0px 40px;
  color: var(--color-white);
  position: relative;
}
.preparation h3 {
  margin-bottom: 16px;
  font-size: clamp(26px, 3.0769230769vw, 40px);
  line-height: 120%;
}
.preparation__body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}
.preparation__photo {
  margin-top: -150px;
}
.preparation__photo img {
  height: 100%;
}
@media (max-width: 992px) {
  .preparation__photo img {
    height: auto;
  }
}
@media (max-width: 992px) {
  .preparation__photo {
    display: none;
  }
}
.preparation .links {
  gap: 16px;
  flex-basis: 1024px;
  margin-bottom: 32px;
}
.preparation .links .link {
  padding: 10px 20px 10px 40px;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 600;
  font-family: var(--font-family-m);
  line-height: 140%;
  border: 1px solid var(--color-white);
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .preparation .links .link:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}
@media (max-width: 1200px) {
  .preparation .links {
    flex-basis: 800px;
  }
}
@media (max-width: 992px) {
  .preparation .links {
    margin-bottom: 0px;
    flex-basis: 100%;
  }
}
@media (max-width: 992px) {
  .preparation {
    padding: 16px;
    border-radius: 24px;
  }
}

/*----------------------------------preparation--------------------------------*/