/*----------------------------------prices-------------------------------*/
.prices__content > p {
  margin-bottom: 32px;
}
.prices__content .footnote {
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .prices__content .pagination {
    display: flex;
  }
}
.prices p {
  font-weight: 500;
  line-height: 141%;
  font-family: var(--font-family-m);
}
.prices__blocks {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 20px;
}
.prices__blocks::-webkit-scrollbar {
  display: none;
}
.prices__block {
  display: grid;
  grid-template-columns: 1fr 45px 250px 140px;
  gap: 10px 50px;
  padding: 16px 20px;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 24px;
  margin-bottom: 12px;
  width: 1300px;
}
.prices__block p {
  white-space: wrap;
}
.prices__block_discount {
  border: 2px solid var(--color-secondary);
  border-radius: 100px 20px 100px 100px;
  padding: 8px 5px;
  color: var(--color-secondary);
  font-size: 15px;
  line-height: 133%;
  width: 50px;
}
.prices__block_cost span:first-child {
  color: var(--color-secondary);
  font-size: 20px;
  line-height: 140%;
}
.prices__block_cost span:last-child {
  text-decoration: line-through;
  font-weight: 400;
}
.prices__block--mod .prices__block_discount {
  opacity: 0;
}

/*----------------------------------prices--------------------------------*/