/*----------------------------------prices-------------------------------*/
.prices__content > p:not(:last-child) {
  margin-bottom: 30px;
}
.prices__content .footnote {
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .prices__content .pagination {
    display: flex;
  }
}
.prices p {
  font-weight: 500;
  line-height: 141%;
  font-family: var(--font-family-m);
}
.prices__blocks {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 20px;
}
.prices__blocks::-webkit-scrollbar {
  display: none;
}
.prices__block {
  display: grid;
  grid-template-columns: 1fr 45px 250px 140px;
  gap: 10px 50px;
  padding: 16px 20px;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 24px;
}
.prices__block:not(:last-child) {
  margin-bottom: 12px;
}
.prices__block p {
  white-space: wrap;
}
@media (max-width: 768px) {
  .prices__block p {
    grid-column: 1/3;
  }
}
.prices__block_discount {
  border: 2px solid var(--color-secondary);
  border-radius: 100px 20px 100px 100px;
  padding: 8px 5px;
  color: var(--color-secondary);
  font-size: 15px;
  line-height: 133%;
  width: 50px;
}
@media (max-width: 768px) {
  .prices__block_discount {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--color-secondary);
    color: var(--color-white);
    border-radius: 200px 160px 160px 50px;
    padding: 2px;
    width: 37px;
    font-size: 12px;
  }
}
.prices__block_cost span:first-child {
  color: var(--color-secondary);
  font-size: clamp(16px, 1.5384615385vw, 20px);
  line-height: 140%;
}
.prices__block_cost span:last-child {
  text-decoration: line-through;
  font-weight: 400;
}
.prices__block--mod .prices__block_discount {
  opacity: 0;
}
@media (max-width: 992px) {
  .prices__block {
    grid-template-columns: 1fr 45px 200px 140px;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .prices__block {
    grid-template-columns: 1fr;
    padding: 16px;
  }
  .prices__block .button {
    display: none;
  }
}
.prices__button {
  display: none;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .prices__button {
    display: flex;
  }
}

/*----------------------------------prices--------------------------------*/