/*----------------------------------procedure--------------------------------*/
.procedure__body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 16px 20px;
  margin-bottom: 60px;
}
.procedure__body--mod .procedure__block--bg {
  flex-basis: 700px;
  font-family: var(--font-family-m);
  font-weight: 600;
  font-size: 15px;
  line-height: 133%;
  padding: 50px 30px;
}
@media (max-width: 992px) {
  .procedure__body--mod .procedure__block--bg {
    padding: 24px;
    text-align: start;
    flex-basis: 100%;
  }
}
.procedure__body--mod .procedure__photo {
  flex-basis: 450px;
}
@media (max-width: 992px) {
  .procedure__body--mod .procedure__photo {
    flex-basis: 100%;
  }
}
@media (max-width: 992px) {
  .procedure__body {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.procedure__body--mod2 {
  margin-bottom: 0px;
}
.procedure__body--mod2 .procedure__block--bg {
  flex-basis: 950px;
  font-family: var(--font-family-m);
  font-weight: 600;
  font-size: 15px;
  line-height: 133%;
  padding: 30px;
}
.procedure__body--mod2 .procedure__block--bg p:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .procedure__body--mod2 .procedure__block--bg {
    padding: 24px;
    text-align: start;
    flex-basis: 100%;
  }
}
.procedure__body--mod2 .procedure__photo {
  flex-basis: 470px;
}
@media (max-width: 992px) {
  .procedure__body--mod2 .procedure__photo {
    flex-basis: 100%;
  }
}
.procedure__photo {
  flex-basis: 500px;
}
.procedure__photo img {
  border-radius: var(--border-radius-small);
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .procedure__photo img {
    border-radius: 24px;
  }
}
@media (max-width: 992px) {
  .procedure__photo {
    flex-basis: 100%;
  }
}
.procedure__info {
  flex-basis: 900px;
}
.procedure__inner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}
@media (max-width: 992px) {
  .procedure__inner:first-child {
    flex-wrap: wrap;
  }
}
.procedure__inner:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .procedure__inner:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .procedure__inner:last-child {
    gap: 10px;
  }
}
.procedure__inner .button {
  flex-wrap: wrap;
  color: var(--color-black-text);
  white-space: wrap;
  text-align: start;
  flex-basis: 240px;
}
@media (max-width: 992px) {
  .procedure__inner .button {
    flex-basis: 50%;
    border-radius: 24px;
  }
}
.procedure__block {
  border-radius: var(--border-radius-small);
  padding: 30px;
}
.procedure__block span {
  font-size: clamp(18px, 1.8461538462vw, 24px);
  line-height: 133%;
  color: var(--color-primary);
  margin-top: 5px;
  display: block;
  white-space: nowrap;
}
.procedure__block:first-child p {
  font-family: var(--font-family-m);
  line-height: 141%;
}
.procedure__block--bg {
  background-color: var(--color-bg);
}
.procedure__block--mod {
  border: 1px solid var(--color-primary);
  text-align: center;
}
.procedure__block--mod .button {
  color: var(--color-white);
  margin-bottom: 5px;
}
.procedure__block--mod p {
  font-size: 12px;
  line-height: 138%;
}
.procedure__block--mod p:last-child {
  color: var(--color-primary);
}
.procedure__block--mod span {
  font-size: clamp(30px, 3.0769230769vw, 40px);
  line-height: 120%;
  color: var(--color-secondary);
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .procedure__block--mod {
    flex-basis: 100%;
  }
}
@media (max-width: 992px) {
  .procedure__block {
    flex-basis: 100%;
    text-align: center;
    border-radius: 24px;
    padding: 30px 15px;
  }
}

/*----------------------------------procedure--------------------------------*/