/*----------------------------------about-procedure--------------------------------*/
@use 'mixins' as *;
.about-procedure {
    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        @include mobile {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }
    }
    &__block {
        border-radius: var(--border-radius-small);
        border: 1px solid #96CFD0;
        padding: 30px;
        overflow: hidden;
        position: relative;
        @include fluid-text(14, 15);
        h3 {
            font-size: 24px;
            line-height: 133%;
            color: #00A7AA;
            margin-bottom: 8px;
        }
        p {
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 120%;
            margin-bottom: 12px;
        }
        &:first-child {
            background: linear-gradient(132deg, #0ca5b3 0%, #a7e7e2 100%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            grid-column: 1 / 3;
            color: var(--color-white);
            h3 {
                color: var(--color-white);
            }
            img {
                margin-right: -30px;
            }
            @include table {
                grid-column: 1 / 4;
            }
            @include mobile {
                flex-wrap: wrap;
                justify-content: end;
            }
        }
        &:nth-child(5) {
            background: linear-gradient(132deg, #0ca5b3 0%, #a7e7e2 100%);
            color: var(--color-white);
            h3 {
                color: var(--color-white);
                @include fluid-text(18, 20);
                margin-bottom: 12px;
            }
            p {
                margin-bottom: 40px;
                max-width: 250px;
            }
            img {
                position: absolute;
                bottom: 0;
                right: 5px;
                max-width: 340px;
            }
            .button {
                display: inline;
                position: relative;
                z-index: 2;
            }
            @include table {
                grid-column: 1 / 4;
                display: flex;
                justify-content: space-between;
                gap: 10px;
                flex-wrap: wrap;
                img {
                    position: static;
                    margin-bottom: -30px;
                }
            }
            @include mobile {
                width: 100%;
                img {
                    max-width: 280px;
                }
            }
        }
        @include mobile {
            border-radius: 24px;
            padding: 20px;
        }
    }
}
/*----------------------------------about-procedure--------------------------------*/