/*----------------------------------about-procedure--------------------------------*/
@use 'mixins' as *;
.about-procedure {
    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        @include mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
        }
    }
    &__block {
        border-radius: var(--border-radius-small);
        border: 1px solid #96CFD0;
        padding: 30px;
        overflow: hidden;
        position: relative;
        @include fluid-text(14, 15);
        h3 {
            font-size: 24px;
            line-height: 133%;
            color: #00A7AA;
            margin-bottom: 8px;
        }
        p {
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 120%;
            margin-bottom: 12px;
        }
        &:first-child {
            background: linear-gradient(132deg, #0ca5b3 0%, #a7e7e2 100%);
            display: flex;
            justify-content: space-between;
            gap: 10px;
            grid-column: 1 / 3;
            color: var(--color-white);
            h3 {
                color: var(--color-white);
            }
            img {
                margin-right: -30px;
            }
            @include table {
                grid-column: 1 / 4;
            }
            @include mobile {
                flex-wrap: wrap;
                justify-content: end;
                img {
                    width: 200px;
                    margin-top: -50px;
                }
            }
        }
        &--mod1 {
            img {
                margin-bottom: -30px;
            }
        }
        &:nth-child(5),
        &--mod2 {
            background: linear-gradient(132deg, #0ca5b3 0%, #a7e7e2 100%);
            color: var(--color-white);
            display: flex;
            justify-content: space-between;
            gap: 10px;
            flex-direction: column;
            padding: 30px 10px 0px 30px;
            width: 100%;
            h3 {
                color: var(--color-white);
                @include fluid-text(18, 20);
                margin-bottom: 12px;
            }
            p {
                margin-bottom: 40px;
                max-width: 250px;
                position: relative;
                z-index: 2;
                @include mobile {
                    max-width: 100%;
                }
            }
            .button {
                display: inline;
                position: relative;
                z-index: 2;
                @include mobile {
                    display: block;
                }
            }
            img {
                margin-top: -150px;
                margin-right: -100px;
                padding-left: 40px;
            }
            @include table {
                grid-column: 1 / 4;
                justify-content: space-between;
                flex-direction: row;
                gap: 10px;
                img {
                    margin-top: 0px;
                    margin-right: 0px;
                    padding-left: 0px;
                    width: 200px;
                    height: 100%;
                }
            }
            @include mobile {
                padding: 20px;
                flex-direction: column;
                img {
                    margin-bottom: -20px;
                    width: 100%;
                }
            }
        }
        @include mobile {
            border-radius: 24px;
            padding: 20px;
        }
    }
}
/*----------------------------------about-procedure--------------------------------*/