/*----------------------------------blockquote--------------------------------*/
@use 'mixins' as *;
.blockquote {
    display: flex;
    justify-content: space-between;
    position: relative;
    figure {
        border-radius: var(--border-radius);
        background-color: #EFFAFB;
        padding: 32px 40px;
        display: flex;
        justify-content: space-between;
        gap: 10px 60px;
        @include mobile {
            padding: 20px;
            border-radius: 24px;
            flex-wrap: wrap;
        }
    }
    blockquote {
        img {
            width: 35px;
            height: 27px;
            position: absolute;
            border-radius: 0;
            @include mobile {
                width: 20px;
                height: 15px;
            }
        }
        p {
            font-weight: 600;
            font-family: var(--font-family-m);
            line-height: 140%;
            padding-left: 64px;
            margin-bottom: 24px;
            @include mobile {
                padding-left: 30px;
            }
        }
        footer {
            padding-left: 64px;
            cite {
                display: block;
                color: var(--color-primary);
            }
            span {
                font-weight: 600;
                font-family: var(--font-family-m);
                line-height: 133%;
            }
            @include mobile {
                padding-left: 30px;
            }
        }
    }
    img {
        border-radius: 50%;
        @include mobile {
            order: -1;
        }
    }
}
/*----------------------------------blockquote--------------------------------*/