/*----------------------------------calendar--------------------------------*/
@use 'mixins' as *;
.calendar {
    margin-bottom: 50px;
    @include mobile {
        margin-bottom: 20px;
    }
    &__wrapper {
        padding: 20px;
        border-radius: var(--border-radius-small);
        margin-bottom: 16px;
        @include mobile {
            padding: 15px;
            border-radius: 24px;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        gap: 10px 44px;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }
    &__specialization {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        p {
            font-weight: 700;
        }
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__body {
        margin-bottom: 24px;
        h3 {
            font-weight: 700;
            line-height: 141%;
            @include fluid-text(14, 16);
            margin-bottom: 15px;
        }
    }
    &__day {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-white);
        width: 80px;
        border-radius: 16px;
        padding: 7px 0px;
        cursor: pointer;
        transition: all 0.3s;
        &--mod {
            p {
                color: #EC5906;
            }
        }
        @include hover {
            background-color: var(--color-primary);
            color: var(--color-white);
            transition: all 0.3s;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__button {
        @include mobile {
            width: 100%;
        }
    }
    &__times {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 10px;
        flex-wrap: wrap;
    }
    &__hour {
        color: #96CFD0;
        border: 1px solid #96CFD0;
        border-radius: 16px;
        padding: 11px 0px;
        width: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
        @include hover {
            background-color: var(--color-primary);
            color: var(--color-white);
            transition: all 0.3s;
        }
    }
}
/*----------------------------------calendar--------------------------------*/