/*----------------------------------disease--------------------------------*/
@use 'mixins' as *;
.disease {
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px 10px;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__image {
        border-radius: 180px 200px 180px 24px;
        background-color: #CCEFF9;
        overflow: hidden;
    }
    &__info {
        flex-basis: 880px;
        p {
            font-weight: 600;
            line-height: 141%;
            font-family: var(--font-family-m);
            margin-bottom: 24px;
        }
        .button {
            display: inline;
            padding: 13px 65px;
            @include mobile {
                display: block;
            }
        }
    }
}
/*----------------------------------disease--------------------------------*/