/*----------------------------------news--------------------------------*/
@use 'mixins' as *;
.news {
    &__content {
        position: relative;
        .filtermenu {
            margin-bottom: 30px;
        }
        .filtermenu__list {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-left: 10px;
            li {
                padding: 10px;
                border: 2px solid inherit;
                &::after {
                    display: none;
                }
                &.active_ {
                    background-color: var(--color-white);
                    border: 2px solid var(--color-primary);
                    color: var(--color-primary);
                    font-weight: 600;
                }
            }
            &--mod {
                background-color: var(--color-white);
                border-radius: 20px;
                padding: 8px 15px;
                margin-left: 0px;
            }
            @include mobile {
                margin-right: 30px;
            }
        }
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        @include table {
            display: flex;
            flex-wrap: wrap;
        }
        @include mobile {
            margin-bottom: 16px;
        }
    }
    &__item {
        border-radius: var(--border-radius-small);
        background-color: var(--color-white);
        display: flex;
        align-items: stretch;
        position: relative;
        &_photo {
            flex-basis: 345px;
            img {
                border-top-left-radius: var(--border-radius-small);
                border-bottom-left-radius: var(--border-radius-small);
                height: 100%;
                width: 100%;
            }
            @include mobile {
                flex-basis: 100%;
                position: relative;
            }
        }
        &_info {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-basis: 700px;
            @include table {
                flex-basis: 100%;
            }
            @include mobile {
                padding: 12px 16px 24px 16px;
            }
        }
        &_top {
            h3 {
                margin-bottom: 8px;
                line-height: 141%;
            }
            p {
                font-weight: 600;
                line-height: 141%;
                font-family: var(--font-family-m);
                margin-bottom: 30px;
                @include mobile {
                    display: none;
                }
            }
        }
        &_bottom {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 10px;
            time {
                color: var(--color-primary);
                font-family: var(--font-family-m);
                font-weight: 600;
                @include fluid-text(12, 15);
                line-height: 133%;
            }
            @include table {
                justify-content: start;
            }
        }
        &:first-child {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            @include mobile {
                img {
                    border-top-left-radius: 24px;
                    border-top-right-radius: 24px;
                    border-bottom-left-radius: 0px
                }
            }
        }
        &:nth-child(2) {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            @include mobile {
                img {
                    border-top-left-radius: 24px;
                    border-top-right-radius: 24px;
                    border-bottom-left-radius: 0px
                }
            }
        }
        &--mod {
            grid-column: 3 / 4;
            grid-row: 1 / 3;
            flex-wrap: wrap;
            .news__item_photo {
                flex-basis: 100%;
                img {
                    border-top-left-radius: 24px;
                    border-top-right-radius: 24px;
                    border-bottom-left-radius: 0px;
                }
            }
            .news__item_top {
                p {
                    margin-bottom: 80px;
                }
            }
            .news__btn {
                right: 66%;
                @include table {
                    right: 10px;
                }
            }
            @include table {
                grid-column: 2 / 3;
                grid-row: 1 / 4;
            }
            @include mobile {
                order: -1;
                .news__btn {
                    bottom: 10px;
                    right: 10px;
                    max-width: 117px;
                }
            }
        }
        @include mobile {
            flex-wrap: wrap;
            border-radius: 24px;
            flex-basis: 100%;
        }
    }
    &__button {
        position: absolute;
        top: 10px;
        right: 16px;
    }
    &__btn {
        position: absolute;
        bottom: 20px;
        right: 51%;
        @include table {
            bottom: 10px;
            right: 10px;
            max-width: 117px;
        }
    }
    &__blocks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px 24px;
        @include table {
            display: flex;
            flex-wrap: wrap;
        }
        .news__item {
            flex-wrap: wrap;
            grid-row: 2 / 3;
            @include table {
                width: 48%;
            }
            .news__item_photo {
                flex-basis: 100%;
                img {
                    border-top-left-radius: 24px;
                    border-top-right-radius: 24px;
                    border-bottom-left-radius: 0px;
                }
            }
            .news__item_top {
                p {
                    margin-bottom: 30px;
                    @include mobile {
                        display: block;
                    }
                }
            }
            .news__item_bottom {
                justify-content: space-between;
            }
            .button {
                max-width: 117px;
            }
            &:nth-child(2) {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }
            &:nth-child(3) {
                grid-column: 1 / 2;
            }
            &:nth-child(4) {
                grid-column: 2 / 3;
            }
            &:nth-child(5) {
                grid-column: 3 / 4;
            }
        }
    }
    &__block {
        position: relative;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        img {
            border-radius: var(--border-radius-small);
            width: 100%;
            height: 100%;
            @include mobile {
                border-radius: 20px;
                height: auto;
            }
        }
        &_info {
            position: absolute;
            bottom: 16px;
            left: 16px;
            right: 16px;
            border-radius: var(--border-radius-small);
            background: rgba(255, 255, 255, 0.85);
            padding: 20px;
            max-width: 400px;
            time {
                color: var(--color-primary);
                font-family: var(--font-family-m);
                font-weight: 600;
                @include fluid-text(12, 15);
                line-height: 133%;
                margin-bottom: 16px;
                display: block;
            }
            h3 {
                margin-bottom: 8px;

            }
            p {
                font-weight: 600;
                line-height: 141%;
                font-family: var(--font-family-m);
                margin-bottom: 40px;
            }
            .button {
                max-width: 117px;
                svg {
                    padding-top: 2px;
                }
            }
            @include mobile {
                position: static;
            }
        }
        @include mobile {
            background-color: var(--color-white);
            border-radius: 20px;
            flex-wrap: wrap;
        }
    }
}

/*----------------------------------news--------------------------------*/