/*----------------------------------other--------------------------------*/
@use 'mixins' as *;
.other {
    &__content {
        .button-more {
            background-color: var(--color-bg);
            width: 100%;
            padding: 12px;
            border-radius: var(--border-radius-small);
        }
    }
    &__body,
    .content-more.view {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 10px;
        margin-bottom: 24px;
        @include table {
            flex-wrap: wrap;
        }
    }
    &__block {
        background-color: var(--color-bg);
        border-radius: 24px;
        padding: 20px;
        width: 100%;
        height: 160px;
        overflow: hidden;
        overflow-y: auto; 
        span {
            font-size: 24px;
            color: var(--color-primary);
        }
        @include table {
            width: 49%;
        }
        @include mobile {
            width: 100%;
            padding: 16px;
        }
    }
    &__links {
        a {
            font-weight: 600;
            line-height: 130%;
            font-family: var(--font-family-m);
            margin-bottom: 8px;
            font-size: 15px;
        }
    }
}

/*----------------------------------other--------------------------------*/