/*----------------------------------prices-------------------------------*/
@use 'mixins' as *;
.prices {
    &__content {
        &>p {
            margin-bottom: 32px;
        }
        .footnote {
            margin-bottom: 32px;
        }
        .pagination {
            @include mobile {
                display: flex;
            }
        }
    }
    p {
        font-weight: 500;
        line-height: 141%;
        font-family: var(--font-family-m);
    }
    &__blocks {
        width: 100%;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap; 
        scrollbar-width: none; 
        -ms-overflow-style: none; 
        padding-bottom: 20px;
    }
    &__blocks::-webkit-scrollbar {
        display: none;
    }
    &__block {
        display: grid;
        grid-template-columns: 1fr 45px 250px 140px;
        gap: 10px 50px;
        padding: 16px 20px;
        align-items: center;
        background-color: var(--color-white);
        border-radius: 24px;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        p {
            white-space: wrap;
            @include mobile {
                grid-column: 1 / 3;
            }
        }
        &_discount {
            border: 2px solid var(--color-secondary);
            border-radius: 100px 20px 100px 100px;
            padding: 8px 5px;
            color: var(--color-secondary);
            font-size: 15px;
            line-height: 133%;
            width: 50px;
            @include mobile {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                background-color: var(--color-secondary);
                color: var(--color-white);
                border-radius: 200px 160px 160px 50px;
                padding: 2px;
                width: 37px;
                font-size: 12px;
            }
        }
        &_cost {
            span {
                &:first-child {
                    color: var(--color-secondary);
                    @include fluid-text(16, 20);
                    line-height: 140%;
                }
                &:last-child {
                    text-decoration: line-through;
                    font-weight: 400;
                }
            }
        }
        &--mod {
            .prices__block_discount {
                opacity: 0;
            }
        }
        @include table {
            grid-template-columns: 1fr 45px 200px 140px;
            gap: 10px;
        }
        @include mobile {
            grid-template-columns: 1fr;
            padding: 16px;
            .button {
                display: none;
            }
        }
    }
    &__button {
        display: none;
        margin-bottom: 8px;
        @include mobile {
            display: flex;
        }
    }
}
/*----------------------------------prices--------------------------------*/