/*----------------------------------promotions-------------------------------*/
@use 'mixins' as *;
.promotions {
    padding-bottom: 0px;
    margin-top: 100px;
    @include table {
        margin-top: 50px;
    }
    &__content {
        .about-procedure__body {
            margin-top: 60px;
            @include table {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                flex-wrap: wrap;
            }
        }
        .about-procedure__block {
            border: none;
            box-shadow: 0 1px 2px 0 rgba(67, 162, 150, 0.15), 0 0 16px 0 rgba(113, 180, 177, 0.16);
            h3 {
                color: var(--color-black-text); 
            }
            &:first-child {
                background: linear-gradient(142deg, #edf4ff 0%, #cee2ff 100%);
                color: var(--color-black-text);
                h3 {
                    color: var(--color-black-text); 
                }
                img {
                    margin-bottom: -45px;
                }
            }
            &:nth-child(3) {
                grid-column: 1 / 3;
            }
        }
        .about-procedure__block--mod2 {
            background: linear-gradient(335deg, #cfe2ff 12.39%, #eef4ff 100%);
            img {
                margin-top: -120px;
            }
            p {
                color: var(--color-black-text);
            }
            .button {
                padding: 13px 50px;
            }
            @include table {
                grid-column: 1 / 4;
                justify-content: space-between;
                flex-direction: row;
                gap: 10px;
                img {
                    margin-top: 0px;
                    margin-right: 0px;
                    padding-left: 0px;
                    width: 200px;
                    height: 100%;
                }
            }
            @include mobile {
                padding: 20px;
                flex-direction: column;
                img {
                    margin-bottom: -20px;
                    width: 100%;
                }
            }
        }
    }
    &__blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        margin-bottom: 24px;
        @include mobile {
            grid-template-columns: 1fr;
        }
    }
    &__block {
        overflow: hidden;
        position: relative;
        border-radius: var(--border-radius-small);
        img {
            width: 100%;
            height: 100%;
        }
        .arrow__pulse {
            border: 3px solid var(--color-white);
            top: 45%;
            right: 25px;
            &::after {
                border: 1px solid var(--color-white);
                @include mobile {
                  opacity: 1;
               }
             }
        }
        &_1 {
            border-radius: var(--border-radius);
            grid-column: 1 / 3;
            @include desktop {
                border-radius: var(--border-radius-small);
            }
            @include mobile {
                grid-column: 1 / 2;
            }
        }
        &_2 {
            border-top-right-radius: 170px;
            border-bottom-right-radius: 20px;
            .arrow__pulse {
                right: 25px;
            }
            @include desktop {
                .arrow__pulse {
                    right: 87%;
                }
            }
            @include mobile {
                border-top-right-radius: var(--border-radius-small);
                .arrow__pulse {
                    right: 25px;
                }
            }
        }
        &_3 {
            border-bottom-right-radius: 170px;
            border-top-right-radius: 20px;
            .arrow__pulse {
                right: 25px;
            }
            @include mobile {
                border-bottom-right-radius: var(--border-radius-small);
            }
        }
        .button {
            position: absolute;
            bottom: 42px;
            left: 80px;
            width: 230px;
            @include desktop {
                bottom: 20px;
                left: 20px;
            }
        }
        @include mobile {
            display: block;
            min-height: 343px;
            .arrow__pulse {
                top: 30px;
            }
        }
        @include hover {
            .arrow__pulse {
                opacity: 1;
            }
            .arrow__pulse::after {
                animation: pulse 2s ease-in-out infinite;
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .right__button {
            flex-basis: 300px;
            @include mobile {
                flex-basis: 100%;
            }
        }
    }
    &--mod {
        margin-top: 0;
    }
}
/*----------------------------------promotions--------------------------------*/